site_name: Tileverse Documentation
site_description: Java libraries for cloud-optimized geospatial data access
site_author: Multiversio LLC
copyright: "&copy; 2025 Multiversio LLC. All rights reserved."
repo_url: https://github.com/tileverse-io/tileverse
edit_uri: edit/main/docs/src/
site_url: https://tileverse.io/
docs_dir: src

theme:
  name: material
  logo: assets/images/tileverse-logo.svg
  favicon: assets/images/favicon.ico
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github
  
extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascripts/logo-link.js

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      title: On this page
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Range Reader:
    - Overview: rangereader/index.md
    - User Guide:
      - Introduction: rangereader/user-guide/index.md
      - Installation: rangereader/user-guide/installation.md
      - Quick Start: rangereader/user-guide/quick-start.md
      - Configuration: rangereader/user-guide/configuration.md
      - Authentication: rangereader/user-guide/authentication.md
      - Troubleshooting: rangereader/user-guide/troubleshooting.md
    - Internals:
      - Overview: rangereader/developer-guide/index.md
      - Architecture: rangereader/developer-guide/architecture.md
      - Performance: rangereader/developer-guide/performance.md
  - PMTiles:
    - Overview: pmtiles/index.md
    - User Guide:
      - Introduction: pmtiles/user-guide/index.md
      - Quick Start: pmtiles/user-guide/quick-start.md
      - Reading PMTiles: pmtiles/user-guide/reading.md
      - Writing PMTiles: pmtiles/user-guide/writing.md
      - Cloud Storage: pmtiles/user-guide/cloud-storage.md
  - Vector Tiles:
    - Overview: vectortiles/index.md
    - User Guide:
      - Introduction: vectortiles/user-guide/index.md
      - Quick Start: vectortiles/user-guide/quick-start.md
      - Encoding Tiles: vectortiles/user-guide/encoding.md
      - Decoding Tiles: vectortiles/user-guide/decoding.md
  - Tile Matrix Set:
    - Overview: tilematrixset/index.md
    - User Guide:
      - Introduction: tilematrixset/user-guide/index.md
      - Quick Start: tilematrixset/user-guide/quick-start.md
      - Tile Pyramids: tilematrixset/user-guide/tile-pyramids.md
      - Standard Sets: tilematrixset/user-guide/standard-sets.md
  - Developer Guide:
    - Overview: developer-guide/index.md
    - Building: developer-guide/building.md
    - Testing: developer-guide/testing.md
    - Contributing: developer-guide/contributing.md
    - Architecture:
      - Overview: developer-guide/architecture/index.md
      - System Design: developer-guide/architecture/system-design.md
      - Module Dependencies: developer-guide/architecture/dependencies.md

extra:
  analytics:
    provider: google
    property: G-510Y1KN03V
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/tileverse-io/tileverse
    - icon: fontawesome/solid/globe
      link: https://tileverse.io